* {
  box-sizing: border-box;
}

body {
  background-color: snow;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.main-container {
  display: grid;
  gap: 1em;
  height: 98vh;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    'header header'
    'sidenav content';
}

.content-container {
  height: calc(97vh - 100px);
  display: flex;
  flex-direction: column;
  grid-area: 'content';
  overflow: hidden;
}

.graph-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  grid-area: header;
}

.sidenav {
  grid-area: sidenav;
}

.card {
  background-color: #1eaafc;
  background-image: linear-gradient(
    130deg,
    #6c52d9 0%,
    #1eaafc 85%,
    #3edfd7 100%
  );
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: #ffffff;
  border-radius: 4px;
  border: 6px solid #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.graph-input {
  display: flex;
  height: 75px;
  width: 100%;
}

.input-type-selector-container {
  font-size: 1.3em;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding-right: 1em;
}

.input-type-selector-container label {
  margin-right: 1em;
}

.input-type-selector-container input[type='radio'] {
  width: 2em;
  height: 2em;
}

.graph-data-input {
  font-size: 2em;
  width: 50%;
}

.graph-control-panel-container {
  height: 50px;
}
